@model Areas.Test.Models.AdminModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Model.Test
        </div>
    </body>
</html>